<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <h4>SAP Part Selection</h4>
        </div>
        <div class="modal-body">
            <br />
            <span>{{selectedMaterials}}</span>
            <br />
            <kendo-grid 
                        [data]="gridData" 
                        [selectable]="gridSettings"
                        [pageSize]="pageSize"
                        [skip]="skip"
                        [pageable]="true"
                        (pageChange)="pageChange($event)"
                        [kendoGridSelectBy]="'sapMaterialNum'"
                        [selectedKeys]="selectedMaterials"
                        >
                <kendo-grid-column field="sapMaterialNum" title="SAP Material Number" width="100"></kendo-grid-column>
                <kendo-grid-column field="partDesc" title="Part Description" width="100"></kendo-grid-column>
            </kendo-grid>
            <button class="btn btn-primary" (click)="submit()">Submit</button>
            <button class="btn btn-info" (click)="cancel()">Cancel</button>
        </div>
    </div>
</div>