<div class="container-fluid">
    <h1>{{message}}</h1>
    <br /><br />
    <!--<button type="button" class="btn btn-success" (click)="popupSAPPartReg('test')">SAP Part Select</button>-->
    <br /><br />
    <div class="example-wrapper">
        Type the name of a SAP Part: <i class="ti-bell"></i>
        <kendo-autocomplete [data]="sappartsnum"
                            [placeholder]="'e.g. A030MX19 BRG'"
                            class="sapparts">
        </kendo-autocomplete>
    </div>
    <br /><br />
    <div class="grid-container">
        <div *ngIf="!this.gridData" class="main-container">
            <span class="k-icon k-i-loading" style="font-size: 64px;"></span>
        </div>
        <div *ngIf="this.gridData" class="main-container">
            <kendo-grid *ngIf="this.gridData"
                        [data]="gridData"
                        [selectable]="gridSettings"
                        [pageSize]="pageSize"
                        [skip]="skip"
                        [pageable]="true"
                        (pageChange)="pageChange($event)"
                        [kendoGridSelectBy]="'Firstname'"
                        [selectedKeys]="selectedEmps">
                <ng-template kendoGridToolbarTemplate>
                    <button type="button" kendoGridExcelCommand><span class="k-icon k-i-file-excel"></span>Export to Excel</button>
                </ng-template>
                <kendo-grid-column field="userName" title="User Name" width="100"></kendo-grid-column>
                <kendo-grid-column field="firstName" title="First Name" width="100"></kendo-grid-column>
                <kendo-grid-column field="lastName" title="Last Name" width="100"></kendo-grid-column>
                <kendo-grid-column field="costCenter" title="Cost Center" width="100"></kendo-grid-column>
                <kendo-grid-excel fileName="Empoyees.xlsx"></kendo-grid-excel>
            </kendo-grid>
        </div>
    </div>

    <!--<br /><br />
    <button type="button" class="btn btn-primary" (click)="addOrUpdateCustomer(null)">Add new Customer</button>
    <br /><br />
    <div class="wrapper">
        <div class="row" *ngIf="customers.length > 0">
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Name</th>
                            <th>Location</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let customer of customers; let i = index">
                            <td>{{i + 1}}</td>
                            <td>{{customer.name}}</td>
                            <td>{{customer.location}}</td>
                            <td class="text-right">
                                <button type="button" class="btn btn-xs btn-danger" (click)="deleteCustomer(customer)">Delete</button>
                            </td>
                            <td class="text-right">
                                <button type="button" class="btn btn-xs btn-info" (click)="addOrUpdateCustomer(customer)">Update</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row" *ngIf="customers.length <= 0">
            <span>No items found</span>
        </div>
    </div>
    <br />
    <br />-->
</div>